main * {
    font-size: 1.2vw;
}

main * {
    white-space: pre-wrap;
    word-break: keep-all;
}

.current_number {
    font-size: 30vw;
    line-height: 25vw;
    min-width: 80%;
}

table td {
    font-size: 2vw;
}

.card img.card-img-top {
    max-height: 150px;
    object-fit: cover;
    max-width: 300px;
}

.card {
    width: 9vw;
    max-height: 30vh;
    overflow: hidden;
}

.masonry .card {
    width: auto;
}

.col-1 {
    width: auto;
}

main {
    min-height: 90%;
}

.dropdown-menu.show,
.play,
nav,
.table,
.current_number,
.card {
    box-shadow: 3px 3px 3px grey;
}

.masonry .card {
    box-shadow: unset;
}

.card img {
    min-height: 30px;
}

.navbar-brand img {
    height: 28px;
}

.surprise .donators_row {
    visibility: hidden;
}

.surprise .reveal {
    margin-top: -200px;
}

.masonry_img {
    object-fit: cover;
}
