body {
    background-color: #8C68CD;
}

main * {
    white-space: pre-wrap;
}
nav {
    * margin-top: 120px;
}

.current_number {
    font-size: 275px;
    width: 100%;
}

table {
    table-layout: fixed;
}

table td {
    font-size: 30px;
}

.card img.card-img-top {
    max-height: 150px;
    max-width: 150px;
}

.masonry .card {
    width: auto;
}

.masonry .card {
    box-shadow: unset;
}

.card img {
    min-height: 50px;
}

.navbar-brand img {
    height: 28px;
}

[class*="surprise"] .donators_row {
    visibility: hidden;
}

[class*="surprise"] .reveal {
    margin-top: -200px;
}

.masonry_img {
    object-fit: cover;
    background-color: white;
}

h1.thanks_title {
    font-size: 3vw;
}

.pas_de_bol .card,
.gros_lot .card {
    width: 30vw;
}

.pas_de_bol img.card-img-top,
.gros_lot img.card-img-top {
    max-height: 100%;
    margin: auto;
    max-width: fit-content;
}

.price {
    font-size: 0;
}

.fa-stopwatch {
    line-height: unset;
}

.fa-stopwatch,
.timer,
.prix {
    text-shadow: 0px 0px 15px white;
}


.dropdown-item.active, .dropdown-item:active {
    color: unset;
    background-color: unset;
}

.surprise_verte,
.surprise_verte footer,
.surprise_verte main {
    background-color: #109610;
}

.surprise_bleu,
.surprise_bleu footer,
.surprise_bleu main {
    background-color: #3a58b2;
}

.surprise_rouge,
.surprise_rouge footer,
.surprise_rouge main {
    background-color: #c95252;
}

.card-group .card .card-img-top {
    height: 150px;
    object-fit: cover;
    margin: auto;
}

.card-group .card {
    max-width: 230px;
    max-height: 300px;
    overflow: hidden;
}

.round {
    border: 2px solid;
    font-size: 24px !important;
}

li.nav-item a {
    font-size: 24px;
}

h1.navbar-text {
    font-size: 24px !important;
}

a.navbar-brand {
    font-size: 28px;
}

.current_number {
    border: 10px solid;
}


.current_number,
.current_number_in_table {
    background-color: #fff !important;
    box-shadow: initial !important;
}

.current_number_in_table {
    border-color: #000 !important;
    border-width: 2px !important;
}

.current_round:not(.dropdown-toggle),
.table.show_picked .picked {
    border-color: #ccff33;
    color: #ccff33;
    animation-name: blinking;
    animation-duration: 4s;
    animation-iteration-count: 1000;
}

@keyframes blinking {
    50% {
        border-color: #f72585;
        color: #f72585;
    }
}

.play.disabled {
    cursor: not-allowed;
    opacity: unset;
}

.play {
    position: relative;
    background-color: #33FF00;
    font-size: 28px;
}

.enfant .play:after {
    animation-duration: 6.6s;
    transition-duration: 6.6s;
}

.adulte .play:after {
    animation-duration: 4.1s;
    transition-duration: 4.1s;
}

.play:after{
    content: '';
    height: 100%;
    display: inline;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: disabled;
    animation-iteration-count: 1;
    z-index: -1;
    transition-property: width;
    transition-timing-function: linear;

}

.play.disabled:after{
    width: 1%;
}

@keyframes disabled {
    1% {
        background-color: red;
    }


    100% {
        background-color: #33FF00;
        width: 100%;
    }
}


.play:hover {
    background-color: green;
}

.table.show .invisible {
    visibility: visible !important;
}

body .table .not_in_loto {
    font-size: 0px !important;
    background: none !important;
}


.table .previous_number_in_table {
    background-color: #b990e5;
    box-shadow: initial;
}

@media print {
    header,
    footer {
        display: none;
    }

    .masonry_img {
        mix-width: 250px;
        box-shadow: 0px 0px 10px black;
    }

    .masonry .card {
        margin: 20px;
    }

    body.bg-info-subtle,
    main {
        background-color: unset !important;
    }
}

.table tr:first-child,
.table tr:first-child td:first-child,
.table tr + tr td:last-child {
    border: none;
    background: none;
    --bs-table-bg-type: unset;
}

body .table-bordered>:not(caption) tr {
    border-width: 0;
}

body .table-bordered > :not(caption) td{
    border: 1px solid;
    border-color: rgb(166, 181, 204);
    border-width: thin;
}
