.btn.active {
    text-shadow: 0 0 5px white;
}

main {
    font-size: 1.2vw;
}

main * {
    white-space: pre-wrap;
}

.current_number {
    font-size: 30vw;
    line-height: 25vw;
    min-width: 80%;
}

table td {
    font-size: 2vw;
}

.card img.card-img-top {
    max-height: 200px;
    object-fit: cover;
    max-width: 300px;
}

.masonry .card {
    width: auto;
}

.col-1 {
    width: auto;
}

.dropdown-menu.show,
.play,
nav,
.table,
.current_number,
.card {
    box-shadow: 3px 3px 3px grey;
}

.masonry .card {
    box-shadow: unset;
}

.card img {
    min-height: 30px;
}

.navbar-brand img {
    height: 28px;
}

[class*="surprise"] .donators_row {
    visibility: hidden;
}

[class*="surprise"] .reveal {
    margin-top: -200px;
}

.masonry_img {
    object-fit: cover;
}

h1.thanks_title {
    font-size: 3vw;
}

.pas_de_bol .card,
.gros_lot .card {
    width: 35vw;
}

.pas_de_bol img.card-img-top,
.gros_lot img.card-img-top {
    max-height: 100%;
    margin: auto;
    max-width: fit-content;
}

.price {
    display: none;
}

.fa-stopwatch {
    line-height: unset;
}

.fa-stopwatch,
.timer,
.prix {
    text-shadow: 0px 0px 15px white;
}


.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dark);
    background-color: var(--bs-info);
}

.surprise_bleu footer,
.surprise_bleu main {
    background-color: #3a58b2;
}

.surprise_rouge footer,
.surprise_rouge main {
    background-color: #c95252;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
  flex: 1;
}
